html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background: black;

	display: flex;
	justify-content: center;
	align-items: center;
}

#canvas-container {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#rasteriser {
	height: 100%;
	width: 100%;
	display: block;
}

#specs-view {
	position: relative;
	height: 0px;
}

#fps {
	padding: 5px;
}

#fps_val {
	display: inline;
}

#light_props_title {
	font-weight: bold;
}

#light_props {
	padding: 5px;
}

#light_props_slider {
	display: grid;
	max-width: 400px;
	width: 25vw;
	padding: 5px;
}

#light_props_slider > input {
	width: 100%;
	margin: 0;
}

.disabled {
	display: none !important;
}