html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background: black;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 15px;
	font-family: Arial, sans-serif;
}

.disabled {
	display: none !important;
}

#canvas-container {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#canvas-container > canvas {
	height: 100%;
	width: 100%;
	display: block;
}

#raytracer {
	background: white;
}

#specs-view {
	position: relative;
	height: 0px;
	min-width: calc(25vw + 12px);
}

#fps {
	padding: 6px 0px 3px 6px;
	background: rgba(240, 240, 255, 0.4);
}

#fps_val {
	display: inline;
}

#light_props {
	padding: 3px 0px;
	background: rgba(240, 240, 255, 0.4);
}

#light_props_title {
	font-weight: bold;
	margin-left: 6px;
}

#lights-dropdown {
	margin: 6px 0px 0px 6px;
	font-size: 13px;
}

#light_props_sliders {
	display: grid;
	max-width: 400px;
	width: 25vw;
	margin: 6px;
}

#light_props_sliders > input {
	width: 100%;
	margin: 0;
}

#light_props_sliders > label {
	margin-top: 2px;
}

#menu-view {
	position: relative;
	height: 0px;
	float: right;
	width: 152px;
}

#sg-export-btn {
	margin: 6px 6px 3px 0px;
	min-width: 146px;
}

#import-request {
	margin: 3px;
}

button {
	cursor: pointer;
	padding: 3px 5px;
	background: none;
	border-radius: 3px;
	border: 1px solid black;
	box-shadow: 1px 1px rgba(127, 127, 127, 0.3);
	font-size: 15px;
}

button:hover {
	background: #EEF;
}

button:active {
	box-shadow: unset;
	position: relative;
	left: 1px;
	top: 1px;
	/*color: white;*/
}

button[disabled] {
	border-color: grey;
	color: grey;
}

.loading-button:after {
	content: ' .';
	animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
	0% {
		content: ' .';
	}
	25% {
		content: ' . .';
	}
	50% {
		content: ' . . .';
	}
	75% {
		content: ' . . . .';
	}
}

#modelload-form-container {
	width: 100%;
	position: absolute;
	background: rgba(240, 240, 255, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}

#modelload-form {
	width: 55vw;
	height: 45vh;
	min-width: 320px;
	min-height: 180px;
	position: relative;
	background: rgba(240, 240, 255, 1);
}

#modelload-form-pages {
	height: calc(100% - 40px);
	min-height: 126px;
}

#page_getOtherFile {
	height: 100%;
	position: relative;
}

.droparea {
	position: absolute;
	top: 10%;
	height: 80%;
	width: 40%;

	background: #e1e1e1;
	border: 3px dotted gray;
	border-radius: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.droparea > span {
	color: gray;
	width: 80%;
	word-break: break-all;
}

#modelload-form-droparea-obj {
	left: 5%;
}

#modelload-form-droparea-mtl {
	right: 5%;
}

#page_setMatrix {
	height: 100%;
}

#page_setMatrix > table {
	width: 100%;
	height: 100%;
	padding: 30px 0px 30px 60px;
}

.page_matrix_title {
	font-weight: bold;
	margin: 0px 0px 10px 0px;
}

#page_setMatrix label {
	margin-left: 10px;
}

#page_setMatrix input {
	width: 40%;
	margin: 10px;
}

#modelload-form-bottom {
	width: 100%;
}

.modelload-form-button {
	margin-top: 5px;
}

#modelload-form-button-previous {
	float: left;
	margin-left: 10px;
}

#modelload-form-button-cancel {
	float: right;
	margin-right: 10px;
}

#modelload-form-button-next {
	float: right;
	margin-right: 10px;
}