html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background: black;

	display: flex;
	justify-content: center;
	align-items: center;
}

#canvas-container {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#canvas {
	height: 100%;
	width: 100%;
	display: block;
}

#specs-view {
	position: relative;
	height: 0px;
}

#menu-view {
	position: relative;
	height: 0px;
	float: right;
}

#sg-export-btn {
	margin: 5px;
	padding: 3px;
	background: none;
	border: 1px solid black;
	border-radius: 3px;
	min-width: 100px;
}

.loading-button:after {
	content: ' .';
	animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
	0% {
		content: ' .';
	}
	25% {
		content: ' . .';
	}
	50% {
		content: ' . . .';
	}
	75% {
		content: ' . . . .';
	}
}

#sg-export-btn:hover {
	background: #EEF;
}

#fps {
	padding: 5px;
}

#fps_val {
	display: inline;
}

#light_props_title {
	font-weight: bold;
	margin-right: 5px;
}

#light_props {
	padding: 5px;
}

#light_props_sliders {
	display: grid;
	max-width: 400px;
	width: 25vw;
	padding: 5px;
}

#light_props_sliders > input {
	width: 100%;
	margin: 0;
}

.disabled {
	display: none !important;
}